IDI_ICON1 ICON "images/ghazal.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,4,0,0
PRODUCTVERSION  1,4,0,0

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Rosybit"
            VALUE "FileDescription",  "Ghazal: The library of persian poetry"
            VALUE "FileVersion",      "1.4.0.0"
            VALUE "InternalName",     "Ghazal"
            VALUE "LegalCopyright",   "Copyright (c) 2012-2022 Aboutaleb Roshan"
            VALUE "LegalTrademarks1", "This program is licensed under MIT"
            VALUE "OriginalFilename", "Ghazal.exe"
            VALUE "ProductName",      "Ghazal"
            VALUE "ProductVersion",   "1.4"
        END
    END
    
    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */
        VALUE "Translation", 0x409, 1252
    END
END
